*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Scheherazade New', serif;
}
.carousel-item img{
    width: 100%;
    height: 90vh;
}
 .row{ 
    font-family: 'Scheherazade New', serif;
} 
.row img{
    width: 100%;
    height: 60vh;
}
.donate-img{
    position: relative;
    width: 50%;
 
}
/* Make the image responsive */
.donate-img img {
  width: 100%;
  height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.donate-img .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc107;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
